{% extends 'base.html' %}
{% block title %} Bookings {% endblock %}

{% block body %}

<div class="main-container">
    <!-- bookings.id, session, customers.name, movies.name -->
    <h2>Session: {{ booking[1] }}</h2>
    <div>Movie:{{ booking[3] }}</div>
    <div>Customer {{ booking[2] }}</div>
    <hr>
    <a type="button" class="btn btn-info" href="{{ url_for('delete_booking', booking_id=booking_id) }}">Delete</a>
    <a type="button" class="btn btn-info" href="{{ url_for('edit_booking', booking_id=booking_id) }}">Edit</a>
    <a type="button" class="btn btn-info" href="/bookings">Cancel</a>
</div>

{% endblock %}


