{% extends 'base.html' %}

{% block title %} Bookings {% endblock %}

{% block body %}

<div class="main-container">
    <a type="button" class="btn btn-info" href="/">Home</a>
    <a type="button" class="btn btn-info" href="/book">Make Booking</a>
    <hr>
<!-- bookings.id, session, customers.name, movies.name -->
{% for booking in bookings %}
    <a style="text-decoration: none; color: black;"href="{{ url_for('display_booking', booking_id=booking[0]) }}">
        <h2>{{ booking[3] }}</h2>
    </a>
    <div>Session: {{ booking[1] }}</div>
    <div>Customer: {{ booking[2] }}</div>        
    <a type="button" class="btn btn-info btn-sm" 
        href="{{ url_for('display_booking', booking_id=booking[0]) }}">View</a>
    <hr>
{% endfor %}

</div>

{% endblock %}